@import url("../../styles/variables.css");

body{
    overflow-x: hidden;
}
.hero {
    height: 100vh;
    position: relative;
}

.header{
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.742), rgba(0, 0, 0, 0.5)),url('../../assets/images/background.jpeg') ;
}

.rectangle {
    width: 40%;
    height: 70%;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    border-radius: 0 50% 50% 0;
}

.carImage {
    height: 100vh;
    position: absolute;
    left: -40%;
    top: -30%;
}

.text {
    font-size: 100px;
    position: absolute;
    top: 15%;
    right: 0%;
    color: var(--text-color);
    font-family: "Nova cut";
}

.button{
    background-color: var(--primary-color);
}

h1{
    font-family: "Nova cut";
}