.hero {
    height: 100vh;
    position: relative;
}

.rectangle {
    width: 40%;
    height: 70%;
    background-color: var(--primary-color);
    position: absolute;
    left: 0;
    border-radius: 0 50% 50% 0;
}

.carImage {
    height: 100vh;
    position: absolute;
    left: -40%;
    top: -30%;
}

.text {
    font-size: 100px;
    position: absolute;
    top: 0%;
    color: var(--text-color);
    z-index: 1;
}